<meta charset="UTF-8">
<title>Asynchronous Server Technologies</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">

<style>
    body {
        padding-top: 50px;
        background-color: rgb(252, 252, 252);
    }
    input {
        width: 100%;
    }
</style>

<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
